* {
  margin: 0;
  background-color: rgb(46, 46, 46);
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.visual-keyboard {
  margin: 0 auto;
}

button {
  width: 50px;
  height: 50px;
  margin: 20px 20px;
}

.key-button {
  background-color: antiquewhite;
  transition: all 0.5s ease;
}

.key-button-active {
  background-color: rgb(245, 97, 97);
}

.key-button:hover {
  background-color: rgb(219, 250, 215);
}

.key-button:active {
  background-color: rgb(250, 149, 149);
}